{% extends 'base.html' %}
{% block title %}View Employees{% endblock %}

{% block header %}
View Employees
{% endblock %}

{% block content %}

<form method="POST" class="form-inline mb-5">
  <div class="form-group">
    <div class="input-group gap-4">
    <input type="search" class="form-control" name="searchQuery" placeholder="Search Employees">
      <div class="input-group-append">
         <a href="/employees" class="btn btn-outline-secondary">Clear Selection</a>
      </div>
  </div>
  </div>
</form>

<div class=" flex-column d-flex justify-content-center align-items-center">
	<a class="w-75 btn btn-lg btn-primary mb-3 mt-3" href="/employees/create">Create Employee</a>

</div>

<nav>
  <div class="nav nav-tabs" id="nav-tab" role="tablist">
    <button class="nav-link active" id="nav-home-tab" data-bs-toggle="tab" data-bs-target="#nav-home" type="button" role="tab" aria-controls="nav-home" aria-selected="true">Pending</button>
    <button class="nav-link" id="nav-profile-tab" data-bs-toggle="tab" data-bs-target="#nav-profile" type="button" role="tab" aria-controls="nav-profile" aria-selected="false">Approved</button>
  </div>
</nav>
<div class="tab-content" id="nav-tabContent">
  <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
    <table class="table table-striped table-responsive">
  <thead>
    <tr>
      <th scope="col">ID</th>            
      <th scope="col">Name</th>
      <th scope="col">Department</th>
      <th scope="col">Job</th>
      <th scope="col">DOB</th>
      <th scope="col">EMAIL</th>
      <th scope="col">Approve</th>
    </tr>  
  </thead>
  <tbody>
    {% if data %}
    {% for row in data %}
    {% if row["IS_PENDING"] %}
      <tr>
        <td>{{ row["EMPLOYEE_ID"] }}</td>
        <td>{{ row["NAME"] }}</td>
        <td>{{ row["DEPT"] }}</td>
		    <td>{{ row["JOB"] }}</td>
        <td>{{ row["DOB"] }}</td>
        <td><a href="mailto:{{ row['EMAIL'] }}"><span class="fa fa-envelope"></span></a></td>
        <td><a href="/employees/approve/{{ row['EMPLOYEE_ID'] }}" ><span class="fa fa-check"></span></a></td>
      </tr>
      {% endif %}
    {% endfor %}
    {% else %}
      <tr>
        <td colspan="7">No pending employees</td>
      </tr>
    {% endif %}
  </tbody>
</table>
  </div>
  <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
    <table class="table table-striped table-responsive">
  <thead>
    <tr>
      <th scope="col">ID</th>            
      <th scope="col">Name</th>
      <th scope="col">Department</th>
      <th scope="col">Job</th>
      <th scope="col">DOB</th>
      <th scope="col">EMAIL</th>
    </tr>  
  </thead>
  <tbody>
    {% for row in data %}
    {% if row['IS_APPROVED'] %}
      <tr>
        <td>{{ row["EMPLOYEE_ID"] }}</td>
        <td>{{ row["NAME"] }}</td>
        <td>{{ row["DEPT"] }}</td>
		    <td>{{ row["JOB"] }}</td>
        <td>{{ row["DOB"] }}</td>
        <td><a href="mailto:{{ row['EMAIL'] }}"><span class="fa fa-envelope"></span></a></td>
      </tr>
      {% endif %}
    {% endfor %}
  </tbody>
</table>
  </div>
{% endblock %}